@page "/new"
@using ModelsLibrary.Models;
@using ServiceDeskClient.Pages.Tickets.Components;

<EditForm Model="@ticket" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Subject</label>
        <div class="col-sm-10">
            <InputText id="subject" @bind-Value="ticket.Subject" />
        </div>        
    </div>
    

    
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-10">
            <InputSelect @bind-Value="ticket.Status">
                <option></option>
            </InputSelect>
        </div>
    </div>

    
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Technician</label>
        <div class="col-sm-10">
            <InputSelect @bind-Value="ticket.AssignedId">
                <option></option>
            </InputSelect>
        </div>
    </div>

    
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <TextEditorComponent @ref="textEditor" />
        </div>
        
    </div>

    <button type="submit">Submit</button>
</EditForm>



@code{
    Ticket ticket = new();
    TextEditorComponent? textEditor;

    private async void HandleValidSubmit()
    {
        ticket.Body = await textEditor.GetHTML();
    }
}